<p id="notice"><%= notice %></p>

<h1 class="title">
  <%= @adventure.name %>
</h1>
<div class="container description">
<h5>
  <%= @adventure.description %>
</h5>
</div>

<div class="links">
<p>
  <strong>Added:
  <%= @adventure.visit %></strong>
</p>

<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
</div>