<p id="notice"><%= notice %></p>

<h1>
  <%= @adventure.name %>
</h1>

<h4>
  <%= @adventure.description %>
</h4>

<p>
  <strong>Visit:</strong>
  <%= @adventure.visit %>
</p>

<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
